@implements IDisposable
@inject NavigationManager navigationManager

<div class="top-row ps-3 pe-3 navbar navbar-dark">
    <a class="navbar-brand" href="">AgenticRecipes</a>
    <div class="gap"></div>
    @if (Prev is not null)
    {
        <a class="navbar-brand" href="@Prev">Prev</a>
    }
    @if (Next is not null)
    {
        <a class="navbar-brand" href="@Next">Next</a>
    }
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
</div>


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chat-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15" />
                </svg>
                Chat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ragu">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                Ragù
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tool">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-music-player-fill" viewBox="0 0 16 16">
                    <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                    <path
                        d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1 2h6a1 1 0 0 1 1 1v2.5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1m3 12a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                </svg>
                Tool
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kitchen">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-fork-knife" viewBox="0 0 16 16">
                    <path
                        d="M13 .5c0-.276-.226-.506-.498-.465-1.703.257-2.94 2.012-3 8.462a.5.5 0 0 0 .498.5c.56.01 1 .13 1 1.003v5.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5zM4.25 0a.25.25 0 0 1 .25.25v5.122a.128.128 0 0 0 .256.006l.233-5.14A.25.25 0 0 1 5.24 0h.522a.25.25 0 0 1 .25.238l.233 5.14a.128.128 0 0 0 .256-.006V.25A.25.25 0 0 1 6.75 0h.29a.5.5 0 0 1 .498.458l.423 5.07a1.69 1.69 0 0 1-1.059 1.711l-.053.022a.92.92 0 0 0-.58.884L6.47 15a.971.971 0 1 1-1.942 0l.202-6.855a.92.92 0 0 0-.58-.884l-.053-.022a1.69 1.69 0 0 1-1.059-1.712L3.462.458A.5.5 0 0 1 3.96 0z" />
                </svg>
                Kitchen
            </NavLink>
        </div>
    </nav>
</div>

@code {
    public string? Prev { get; set; }
    public string? Next { get; set; }

    protected override void OnInitialized()
    {
        navigationManager.LocationChanged += OnLocationChanged;
        UpdatePrevNextLinks(navigationManager.Uri);
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        UpdatePrevNextLinks(args.Location);
    }

    private void UpdatePrevNextLinks(string uriAbsolute)
    {
        var path = new Uri(uriAbsolute, UriKind.Absolute).AbsolutePath;
        (Prev, Next) = path switch
        {
            "/" => (null, "/chat"),
            "/chat" => ("/", "/ragu"),
            "/ragu" => ("/chat", "/tool"),
            "/tool" => ("/ragu", "/kitchen"),
            "/kitchen" => ("/tool", null),
            _ => (null, null),
        };
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }
}
