@page "/chat"
@using System.Threading
@using Microsoft.Agents.AI
@using Microsoft.Agents.AI.Workflows
@using Microsoft.Extensions.AI
@using System.Diagnostics
@using Microsoft.Extensions.Hosting
@rendermode InteractiveServer
@inject IHostEnvironment environment
@inject Workflow workflow

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<ChatComponent ApplicationName="@environment.ApplicationName" Workflow="@workflow" />
