@page "/kitchen"
@using Microsoft.Agents.AI.Workflows
@using Microsoft.Extensions.Hosting
@rendermode InteractiveServer

<PageTitle>Kitchen</PageTitle>

<h1>Kitchen</h1>

<ChatComponent ApplicationName="@environment.ApplicationName" Workflow="@workflow" />

@code {
    [Inject]
    public required IHostEnvironment environment { get; init; }

    [Inject(Key = "kitchen")]
    public required Workflow workflow { get; init; }
}
