@page "/ragu"
@using Microsoft.Agents.AI.Workflows
@using Microsoft.Extensions.Hosting
@rendermode InteractiveServer

<PageTitle>Ragù</PageTitle>

<h1>Ragù</h1>

<ChatComponent ApplicationName="@environment.ApplicationName" Workflow="@workflow" />

@code {
    [Inject]
    public required IHostEnvironment environment { get; init; }

    [Inject(Key = "rag")]
    public required Workflow workflow { get; init; }
}
